# Copia este archivo como .env y completa tus datos reales.
# No subas .env al repositorio.

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1

AWS_S3_REGION=us-east-2
AWS_S3_BUCKET=mateo-silva-portafolio-web
AWS_CLOUDFRONT_DISTRIBUTION_ID=
